@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.homelogo{
    font-family: Dancing Script;
    font-size: 5em;
    font-weight: bold;
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    background-image: url("crowd-1056764_1280.jpg");
}

p{
    color: white;
}

